<?xml version="1.0" encoding="utf-8"?>
<!--
Cache file for static assets

Usage:
Drop this file in root folder for assets you want to cache.
Do NOT drop in root of website.
Ask your dev lead if you have any questions.
-->

<configuration>
  <system.webServer>
    <staticContent>
      <!--
        Set how long time you want to cache -> cacheControlMaxAge="8.00:00:00" is eight days.
        REMEMBER to version bump files if they are changed within the caching period
      -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="8.00:00:00" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="public" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
