<footer class="tm-footer">
    <p class="tm-copyright-text pull-xs-right">
        Copyright &copy; <span class="tm-current-year">2017</span> Your Company
        | Design: <a rel="nofollow" href="http://www.tooplate.com" class="tm-footer-link" target="_parent">Tooplate</a>
    </p>
</footer>
