@model S_Umb_Turbine.Model.ChangePasswordModel

@{ 
    MembershipUser member = Membership.GetUser();
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "change-password-form", @class="center-horizontal change-password-form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="Username">Nyt kodeord</label>
        <input id="Password" name="Password" class="form-control" data-val="true" data-val-required="Kodeord skal udfyldes i begge filter" id="Password" name="Password" placeholder="" type="password">
    </div>
    <div class="form-group">
        <label for="Password">Gentag nyt kodeord</label>
        <input id="PasswordRepeat" name="PasswordRepeat" class="form-control" data-val="true" data-val-required="Kodeord skal udfyldes i begge filter" id="Password" name="Password" placeholder="" type="password">
    </div>
    <input type="hidden" name="MemberNodeId" id="MemberNodeId" value="@member.ProviderUserKey" />
    <button type="submit" name="submit" class="btn-info btn-lg btn-block btn-change-password">Change Password</button>
}

<div id="success-alert" class="alert alert-success alert-dismissable collapse center-horizontal password-alert" role="alert">
    <strong>Dit kodeord er blevet ændret.</strong>
</div>

<div id="error-unidentical-alert" class="alert alert-danger alert-dismissable collapse center-horizontal password-alert" role="alert">
    <strong>Kodeordene var ikke identiske.</strong>
</div>

<div id="error-not-logged-in-alert" class="alert alert-danger alert-dismissable collapse center-horizontal password-alert" role="alert">
    <strong>Din session er udløbet. Log ind og forsøg igen.</strong>
</div>

<div id="error-invalid-alert" class="alert alert-danger alert-dismissable collapse center-horizontal password-alert" role="alert">
    <strong>Dit nye kodeord skal være minimum 10 karakterer langt.</strong>
</div>

<div id="exception-alert" class="alert alert-danger alert-dismissable collapse center-horizontal password-alert" role="alert">
    <strong>En ukendt fejl opstod på serveren.</strong>
</div>